{% extends "base.html.twig" %}

{% block body %}
    <h1>This is my first Template</h1>
    <p>The question is: {{ question }}</p>

    <p>We have {{ answers|length  }} answers. These are: </p>
    <br>
    {% for answer in answers %}
        The answer is: {{ answer }}.
        <br>
    {% endfor %}
{% endblock %}